package view

import (
    "github.com/bangau1/golang-htmx/film"
)

templ FilmList(films []film.Film) {
<div class="grid grid-cols-1 md:grid-cols-4 gap-4">
for _, film := range films {
  @FilmTile(film)
}
</div>
}
