
package view

import (

	"github.com/bangau1/golang-htmx/film"
)

templ FilmDetail(film film.Film) {
<html lang="en">
@head()
</html>
<body>
	<h1>Film Details</h1>
	<div class="row">
	<div class="col-sm-6 col-md-4">
		@FilmTile(film)
	</div>
	</div>
</body>
}
