package view

import (
  "fmt"
    "github.com/bangau1/golang-htmx/film"
)

templ FilmTile(film film.Film) {
<div class="thumbnail">
    <a href={ templ.SafeURL(fmt.Sprintf("/films/%s", film.Id)) }>
      <img src={ film.PosterURL } alt="Movie Poster"/>
    </a>
    <div class="caption">
      <h3>{ film.Title }</h3>
      <p>Directed by: { film.Director }</p>
    </div>
</div>
}
